@import url(normalize.css);
/* line 13, styles.scss */
* {
  box-sizing: border-box; }

/* line 17, styles.scss */
html, body, .wrapper {
  height: 100%;
  width: 100%; }

/* line 22, styles.scss */
html {
  background: white; }

/* line 25, styles.scss */
.wrapper {
  margin: 0 auto;
  padding: 60px; }

/* line 29, styles.scss */
form {
  margin: 0 auto;
  line-height: 2; }

/* line 34, styles.scss */
ul {
  list-style: none;
  margin-left: -40px;
  padding-bottom: 40px; }

/* line 39, styles.scss */
.results {
  white-space: nowrap; }

/* line 46, styles.scss */
.break-3 {
  display: none; }
  @media (max-width: 520px) {
    /* line 46, styles.scss */
    .break-3 {
      display: block; } }

/* line 53, styles.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

/* line 60, styles.scss */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }
